{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["> 1% in CN", "ie >= 11"],
                "node": true
            },
            "loose": true
        }],
        "stage-0"
    ],
    "plugins": [
        ["transform-runtime", {
            "helpers": true,
            "polyfill": true,
            "regenerator": true,
            "moduleName": "babel-runtime"
        }]
    ]
}