{
    "parser": "babel-eslint",
    
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "implideStrict": true
    },

    "extends": "airbnb-base",

    "plugins": [
        "import"
    ],

    "rules": {
        "indent": [1, 4],
        "no-mixed-operators": [0],
        "no-param-reassign": [0],
        "no-restricted-properties": [0]
    }
}